#tt{
    font-size: 50px;
}

nav {
    background-color: #333;
    height: 80px;
  }
  /* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */
  nav li {
    float: left;
    margin-left: 10%;
  }
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  nav li a:hover {
    background-color: #111;
  }
  .Sign {
    background-color: yellow;
     margin-top: -10px;
    padding: 5px 5px;
    border: none;
    /* border-radius: 5px; */
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  .bx{
    font-size: 50px;
    color: white;
    margin-top: 20px;
  }
  .screech{
    margin-left: 10%;
  }
  #box{
    width: 30px;
    height: 30px;
  }
  .but4{
    background: transparent;
  margin: 10px;
  padding: 20px 30px;
  border-color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color:black
  }
.Search{
  margin: 10px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  background: transparent;
}
.Search,.bx{
  font-size: 20px;
}
.gadget1{
  background-color: #806386;
  margin-left: 1%;
  margin-right: 10%;
}
#gadget2{
  width: 900px;
  height: 600px;
  margin-left: 40%;
}
.trusted{
  margin-top: -35%;
  margin-left: 1%;
}
.trusted h1{
  font-size: 80px;
}
.trusted p{
  font-size: 25px;
}
.btn-explore{
  margin-left: 20%;
  margin-top: 5%;
}
.ode{
  background: yellow;
  margin: 10px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.plore{
  background: transparent;
  margin: 10px;
  padding: 20px 30px;
  border-color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color:white
}
#pic{
  margin-left: -5%;
  /* margin-right: 10%; */
  width: 1321px;
  margin-top: 10%;
}

#newpic{
margin-left: 10%;
width: 420px;
height: 490px;
}
#pro{
margin-left: 5%;
width: 420px;
height: 490px;
}
.the2{
    margin-top: 40px;
}
#thadi{
  margin-left: -5%;
  width: 1320px;
}
.cillum{
  display: flex;
  margin-left: 20%;
  margin-top: 10%;
}
.monials{
  margin-left: 40%;
  margin-top: 5%;
}
footer{
  display: flex;
  background: #333;
  justify-content: space-between;
  color: #fff;
  font-size: 30px;
  gap: 30px;
  height: 400px;
  margin-top: 10%;
}
.sabi{
  display: flex;
  margin-left: 25%;
  gap: 70px;
  margin-top: 10%;
}
.sabi h1{
  font-size: 50px;
}
#line{
  margin-left: 10%;
  margin-top: 10%;
}
.sabi button{
  background: yellow;
  margin: 10px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}


@media only screen and (max-width: 920px){
    nav li {
    float: left;
    margin-left: 1%;
  }
  .Search{
    margin-left: -10px;
  }
  #gadget2{
    width: 250px;
    margin-left: -50px;
  }
  #pps{
    width: 100px;
  }
  #tt{
    margin-top: 140px;
  }
  #pic{
    width: 10px;
  }
  #newpic{
    width: 250px;
  }
  #pro{
    width: 250px;
    margin-top: 20px;
    margin-left: 35px;
  }
  #thadi{
    width: 300px;
  }
  .monials{
    margin-left: -5px;
    width: 150px;
  }

}









